
html{
    /*background-color: rgb(177, 177, 228);*/
    background-image: url(accept.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 1920px 
}

body{
    font-family: 'Montserrat', sans-serif;
}

@media screen and (max-width: 700px) {
    
}



.Box-container{        
    /*background: linear-gradient(40deg, rgb(238, 156, 126) 0%, rgb(250, 244, 210) 48%, rgb(19, 72, 18) 100%);*/
    width: 1000px;
    background: -webkit-linear-gradient(left, #d4d5ec, #1a304d);
    padding: 40px;
    /*margin: 60px ;*/
    margin-left: 250px;
    margin-top: 40px;
    margin-bottom: 40px;
    box-sizing: border-box;
    border-radius: 15px;
}

h1{
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
}
h4{
   font-size: 20px;
   font-weight: 400;
   text-transform: uppercase;
}


label {
    color: rgb(0, 0, 0);
    border-left: solid black 4px ;
    border-radius: 0 4px 0 0 ;
    cursor: pointer;
    padding-left: 5px;
    /*background-color: rgb(194, 194, 194);*/
    margin-top: 5px;
    margin-bottom: 5px;

  }

.form-group input,
.form-group textarea{
    
    border-radius: 8px; border-color: thistle; box-shadow: none;
    background-color: rgb(236, 236, 236);
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 15px;
    line-height: 30px;
    padding: 8px;
    width: 95%;
    
}

button{
   box-sizing: border-box;
   background-color: black; 
   width:20%;
   color: white;
   border-radius: 9px;
   padding: 10px;
   margin-top: 10px;
   margin-left: 350px;
   cursor: pointer;
}

